@page
@model WeatherFinderAPI.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">

    <div class="white-box">

        <h1 class="display-4">About</h1>
        <p>
            This was created by me, Kameron Bourgeois, as a way to learn about building a REST API with ASP.NET Core.
            It goes with an Angular front-end which is linked to on the home page. 
            This backend is being hosted on free tiers of Azure so it may be a bit slow at times.
            This app supports GET, DELETE, and POST requests. 
        </p>

    </div>
</div>


