@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="white-box">

        <h1 class="display-4">Welcome to the WeatherFinder API</h1>
        <p>
            This ASP.NET Core application is the backend to an Angular Frontend. 
            The application as a whole provides a way to store locations and get their weather. 
            This application provides a REST API to GET, DELETE, and POST to a SQL Database in Azure. 
            A link to the Angular frontend can be found in the readme of this <a href="https://github.com/Kameron2442/weatherFinder-Angular">Github Repo</a>
        </p>

    </div>

    <div class="white-box">

        <h2 class="display-4 more-padding">Current Saved Locations</h2>

        @foreach (var loc in Model.locations)
        {
            <p class="loc-item">@loc.LocName</p>
        }


    </div>

</div>
